<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <div class="swiper-container">
      <ion-slides pager="true" [options]="slideOpts" #slider>
            <ion-slide>
            <img src="../assets/slideshow/1.jpg">
            </ion-slide>
            <ion-slide>
            <img src="../assets/slideshow/2.jpg">
            </ion-slide>
            <ion-slide>
            <img src="../assets/slideshow/3.jpg">
            </ion-slide>
      </ion-slides>

      <div class="swiper-button-prev" (click)="prev()" ></div>
      <div class="swiper-button-next" (click)="next()" ></div>
    </div>
</ion-content>
